body {
    font-family: 'Open Sans', serif !important;
    font-weight: normal;
    font-style: normal;
}

header {
    align-items: center;
    justify-content: space-between;
}

main {
    padding-top: 40px;
}

a {
    text-decoration: none !important;
}

li {
    list-style-type: none !important;
}

.header__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.header__link {
    text-decoration: none;
    color: deepskyblue;
    font-weight: 500;
}

.header__link:hover {
    color: black;
    cursor: pointer;
}

.header__link.active {
    color: black;
    font-weight: 700;
}

.btn-logout {
    width: 75px;
    height: 36px;
    background-color: deepskyblue;
    border-radius: 8px;
}

.btn-logout:hover {
    border: 1px solid deepskyblue;
    background-color: white;
    cursor: pointer;
}

.btn-logout .header__link {
    color: white !important;
}

.btn-logout:hover .header__link {
    color: deepskyblue !important;
}

.logo {
    width: 100px;
    height: 100px;
}

.sign__in,
.sign__up {
    margin: 100px auto 0;
    width: 400px;
}

.show {
    display: block !important;
}

.text-warning {
    display: none;
}

footer {
    position: absolute;
    bottom: 10px;
    left: 50%;
}



