include libs/libs

doctype html
html(lang='en')
  +head('Clients | AV')

header.container
  img.logo(src=require('../assets/images/logo.png') alt='Logo img')
  ul.header__links
    li
      a.header__link(href='./home.html') Home
    li
      a.header__link.active(href='./clients.html') Clients
    li
      a.header__link(href='./map.html') Map
    li.btn-logout.d-flex.align-items-center.justify-content-center
      a.header__link Logout

main.container

  div.d-flex.justify-content-around
    div Male users
      span.male__users.p-lg-3.fw-bold
    div Female users
      span.female__users.p-lg-3.fw-bold
  table
    thead
      tr
        th Name
        th Company
        th Email
        th Phone number
        th Balance
        th Registration date
    tbody
